@model PlayerPortal.Data.DataTransferModels.PlayerDataTransferModel

@{
    ViewData["Title"] = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">
                        @* <i class="fas fa-user"></i> @Model.Name - Details *@
                        <i class="fas fa-user"></i>Details
                    </h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.ShirtNo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ShirtNo)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Appearance)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Appearance)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Goals)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Goals)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-action="Index" class="btn btn-dark">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
